<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main.css">

    <title>Document</title>
</head>
<body>
    <nav>
        Robin Weitzman
    </nav>
    <header>
        <p>
            Hi! I'm Robin Weitzman, a retired Farm-to-Fork Chef, turned Mobile Application Developer.
        </p>
    </header>
    <main>
        <section class="about">
            <h2>About Robin</h2>
            <p>
                I have a passion for all things sustainable, an obession with superb UX/UI, and a love for 
                creating excellent software achritecture. I love working in a team-oriented environment 
                where people can come together to bring out the best in each other, the synergy motivates 
                me to put my best foot forward to make the App even better.
            </p>
        </section>
        <section class="skills">
            <h2>My Skills</h2>
            <ul>
                <li>React-Native</li>
                <li>XCode</li>
                <li>Android SDK</li>
                <li>AWS</li>
                <li>Cloudwatch</li>
                <li>RESTful</li>
                <li>GraphQL</li>
                <li>Elasticsearch/Kibana</li>
                <li>Javascript</li>
                <li>Node.js</li>
                <li>VSCode</li>
                <li>HTML/CSS</li>
            </ul>
        </section>
        <section class="projects">
            <h2>My Projects</h2>
            <div class="project-grid">
                
            </div>
        </section>
        <section class="contact">
            <form action="#">
                <input type="text" name="name" placeholder="Your Full Name">
                <input type="text" name="email" placeholder="Your Email Address">
                <input type="text" name="message" placeholder="Your Message">
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
    <footer>
        Footer
    </footer>
</body>
</html>