<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Robin Weitzman</h1>
    </nav>
    <header>
        <img src="/img/robin.png" alt="Profile Pcture of Robin Weitzman">
        <p>
            Hi! I'm Robin Weitzman, a retired Farm-to-Fork Chef, turned mobile application developer.
        </p>
        <button>Hire Me!</button>
    </header>
    <main>
        <section class="about">
            <h2>About Robin</h2>
            <p>
                I have a passion for all things sustainable, an obession with superb UX/UI, and a love for 
                creating excellent software achritecture. I love working in a team-oriented environment 
                where people can come together to bring out the best in each other, the synergy motivates 
                me to put my best foot forward to make the App even better.
            </p>
        </section>
        <section class="skills">
            <h2>My Skills</h2>
            <ul>
                <li>React-Native</li>
                <li>XCode</li>
                <li>Android SDK</li>
                <li>AWS</li>
                <li>Cloudwatch</li>
                <li>RESTful</li>
                <li>GraphQL</li>
                <li>Elasticsearch/Kibana</li>
                <li>Javascript</li>
                <li>Node.js</li>
                <li>VSCode</li>
                <li>HTML/CSS</li>
            </ul>
        </section>
        <section class="projects">
            <h2>My Projects</h2>
            <div class="project-grid">
                <div class="project-card">
                    <h3>Tamagotchi</h3>
                    <h4><a href="https://github.com/rweitzman/Tamagotchi">github.com/rweitzman/Tamagotchi</a></h4>
                    <hr>
                    <p>Tamagotchi Description</p>
                </div>
                <div class="project-card">
                    <h3>Chefly</h3>
                    <h4><a href="https://github.com/rweitzman/Chefly">github.com/rweitzman/Chefly</a></h4>
                    <hr>
                    <p>Chefly Description</p>
                </div>
                <div class="project-card">
                    <h3>Wayfarer</h3>
                    <h4><a href="https://github.com/rweitzman/Wayfarer">github.com/rweitzman/Wayfarer</a></h4>
                    <hr>
                    <p>Wayfarer Description</p>
                </div>
                <div class="project-card">
                    <h3>Aria</h3>
                    <h4><a href="https://github.com/rweitzman/Capstone">github.com/rweitzman/Capstone</a></h4>
                    <hr>
                    <p>Aria Description</p>
                </div>
            </div>
        </section>
        <section class="contact">
            <form action="#">
                <input type="text" name="name" placeholder="Your Full Name*">
                <input type="text" name="email" placeholder="Your Email Address*">
                <input type="text" name="message" placeholder="Your Message*">
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
    <footer>
        Footer
    </footer>
</body>
</html>