:root {
    --brass: #CB997E;
    --pink: #EDDCD2;
    --linen: #FFF1E6;
    --pale: #F0EFEB;
    --deseert: #DDBEA9;
    --artichoke: #A5A58D;
    --ash: #B7B7A4;
    --text: #181818;
    --shadow: #0000008e;
}