:root {
    --brass: #CB997E;
    --pink: #EDDCD2; /* bulk */
    --linen: #FFF1E6; /* bulk */
    --pale: #ffffff; /* bulk */
    --paleOG: #F0EFEB; /* bulk */
    --desert: #DDBEA9;
    --artichoke: #A5A58D;
    --ash: #B7B7A4;
    --text: #181818;
    --shadow: #0000008e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--pale);
    min-height: 100vh;
    width: 100%;
}

nav {
    border: none;
    border-bottom: 1px solid var(--artichoke);
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: var(--pink);
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 2;
    top: -40px;
    transition: all .5s ease;
}

nav.down {
    top: 0;
    transition: all .5s ease;
}

nav div {
    position: absolute;
    top: 0;
    right: 5px;
}

nav i {
    color: var(--brass);
    font-size: 20px;
}

nav i:hover {
    color: var(--ash);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--pale);
}

.profile {
    width: 500px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    opacity: 0;
    transition: all 1s ease;
}

.profile.down {
    margin-top: 250px;
    opacity: 1;
    transition: all 1s ease;
}

.profile img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
}

.profile p {
    text-align: center;
    margin: 10px;
}

.profile a {
    width: 30%;
    height: 50px;
    margin: 10px auto;
    background-color: var(--brass);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: var(--pale);
}

main {
    width: 900px;
    margin: 0 auto;
}

section {
    min-height: 100px;
    padding: 60px;
    position: relative;
}

.values {
    background-color: var(--linen);
    border-radius: 15px;
}

.values h3 {
    font-family: 'Indie Flower', cursive;
}

#values-list {
    display: flex;
    margin: 40px 10px;
}

#values-list div {
    flex-grow: 1;
    text-align: center;
}

#values-list div i {
    font-size: 50px;
    margin: 5px;
}

#values-list div h3, #values-list div p {
    margin: 5px;
}

.about {
    background-color: var(--linen);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.about img {
    width: 30%;
}

.about div {
    width: 60%;
    margin: 10px auto;
}

.work {
    background-color: var(--linen);
    border-radius: 15px;
}

.contact {
    background-color: var(--pale);
    display: flex;
    flex-direction: row-reverse;
}

.contact img {
    width: 30%;
}

.contact form {
    width: 60%;
    margin: 10px auto;
}

ul {
    overflow-x: auto;
    overflow-y: hidden;
    height: 250px;
    margin: 50px 0;
    white-space: nowrap;
    padding: 10px;
}

#kibana {
    background-color: #0077CC;
    border-radius: 25%;
    padding: 5px;
}

/* width */
ul::-webkit-scrollbar {
    height: 25px;
}

ul::-webkit-scrollbar-track {
    background: var(--pale);
    border-radius: 5px;
}

ul::-webkit-scrollbar-thumb {
    background: var(--ash);
    border-radius: 5px;
}
ul::-webkit-scrollbar-thumb:hover {
    background: var(--artichoke);
}

li {
    display: inline-block;
    width: 150px;
    text-align: center;
    white-space: normal;
    user-select: none;
    transition: all .25s ease;
}

li:hover {
    background-color: var(--ash);
    box-shadow: 1px 1px 1px var(--shadow);
    transform: scale(1.2);
    transition: all .25s ease;
}

li i {
    width: 75%;
    margin: 18% 12.5%;
    font-size: 50px;
}

li img {
    width: 50px;
    margin: 15% calc((100% - 50px) / 2);
}

.fa-react {
    color: #61dafb;
}

.fa-laptop-code {
    color: rgb(121, 161, 247);
}

.fa-android {
    color: #46D17B;
}

.fa-aws {
    color: #EC912D;
}

.fa-cloud {
    color: rgb(96, 143, 96);
}

.fa-cog {
    color: rgb(29, 104, 165);
}

.fa-js {
    color: #E8D44D;
}

.fa-node {
    color: #509941;
}

.fa-html5 {
    color: #DD4B25;
}

.fa-css3-alt {
    color: #2465F1;
}

.project-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.project-card {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    background-color: var(--pale);
    border-radius: 15px;
    border: 1px solid var(--brass);
}

.project-card h3 {
    margin: 5px;
}

.project-card a {
    margin: 5px;
    color: var(--brass);
    text-decoration: none;
}

.project-card hr {
    margin: 5px -10px;
    border: none;
    border-bottom: 1px solid var(--pink);
}

.project-card p {
    margin: 5px;
}

form {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form input {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

form p {
    width: 100%;
    text-align: center;
}

#submit-button {
    width: 50%;
}

footer {
    height: 150px;
    background-color: var(--ash);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

footer a {
    text-decoration: none;
    padding: 0 20px;
    height: 30px;
    color: var(--pale);
}

footer a:hover {
    text-decoration: underline;
}

a i {
    margin: 10px;
}

h2 {
    margin: 10px;
}

input {
    border-radius: 5px;
    border: 1px solid var(--artichoke);
}

@media only screen and (max-width: 900px) {
    main {
      width: 100%;
    }
}